<a href="https://colab.research.google.com/github/3-hWnG/My-DAP/blob/main/lab_part2_1_1_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/lenhattung/SP26-AI1904-DAP391m/refs/heads/main/lab_part_2/01%20-%20Linear%20and%20logistic%20regression/titanic.csv'
titanic = pd.read_csv(url)
copy = titanic.copy()
print(titanic.shape)
titanic.info()

(1309, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1046 non-null   float64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1308 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 153.5+ KB

In [ ]:
pd.set_option("display.max_columns",50)
titanic.head()

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
if copy['passenger_id'].duplicated().any():
  copy = copy.drop_duplicates(subset=['passenger_id'])
print(f"1. [passenger_id]: Đã check trùng lặp. Tổng số hành khách: {len(copy)}")

1. [passenger_id]: Đã check trùng lặp. Tổng số hành khách: 1309

In [ ]:
copy['pclass']= copy['pclass'].replace({'1': '1st', '2': '2nd', '3':'3rd'})
copy['pclass'].value_counts()

pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [ ]:
copy['count_survive'] = copy['survived'].replace({0:"No", 1:'Yes'})
copy['count_survive'].value_counts()

count_survive
No     809
Yes    500
Name: count, dtype: int64

In [ ]:
copy['count_sex'] = copy['sex'].replace({0:"Male", 1:'Female'})
copy['count_sex'].value_counts()

count_sex
Male      843
Female    466
Name: count, dtype: int64

In [ ]:
copy['age'] = copy['age'].round(0)
display(copy['age'])

0       29.0
1        1.0
2        2.0
3       30.0
4       25.0
        ...
1304    14.0
1305     NaN
1306    26.0
1307    27.0
1308    29.0
Name: age, Length: 1309, dtype: float64

In [ ]:
copy['sibsp'] = copy['sibsp'].fillna(0).astype(int)
print("[sibsp]: Đã chuẩn hóa sibsp")
display(copy['sibsp'])

[sibsp]: Đã chuẩn hóa sibsp

0       0
1       1
2       1
3       1
4       1
       ..
1304    1
1305    1
1306    0
1307    0
1308    0
Name: sibsp, Length: 1309, dtype: int64

In [ ]:
copy['parch'] = copy['parch'].fillna(0).astype(int)
print("[parch]: Đã chuẩn hóa parch")

[parch]: Đã chuẩn hóa parch

In [ ]:
print(copy['ticket'].isnull().sum())

0

In [ ]:
median_fare = copy['fare'].median()
median_fare = round(median_fare, 1)
copy['fare'] = copy['fare'].fillna(median_fare)
print(f"[fare]: Đục lỗ giá vé thiếu bằng mức trung vị ({median_fare}).")

[fare]: Đục lỗ giá vé thiếu bằng mức trung vị (14.5).

In [ ]:
copy['cabin'] = copy['cabin'].fillna("Unknown")
print(f"[cabin]: Đã điền 'Unknown' cho các cabin chưa xác định.")

[cabin]: Đã điền 'Unknown' cho các cabin chưa xác định.

In [ ]:
copy['boat'] = copy['boat'].fillna("None")

In [ ]:
copy['body'] = copy['body'].fillna(0).astype(int)

In [ ]:
copy['home.dest'] = copy['home.dest'].fillna("Unknown")

**1.2**

In [ ]:
#1
embarked_map = {
    'C': 'Cherbourg',
    'Q': 'Queenstown',
    'S': 'Southampton'
}
titanic['embarked'] = df['embarked'].map(embarked_map).astype('category')

In [ ]:
#2
sex_map = {
    'female': 'Female',
    'male': 'Male'
}
titanic['sex'] = titanic['sex'].map(sex_map).astype('category')

In [ ]:
#3
survived_map = {
    0: 'No',
    1: 'Yes'
}
titanic['survived'] = titanic['survived'].map(survived_map).astype('category')

In [ ]:
#4
pclass_map = {
    1: '1st',
    2: '2nd',
    3: '3rd'
}
titanic['pclass'] = titanic['pclass'].map(pclass_map)
pclass_type = pd.CategoricalDtype(categories=['1st', '2nd', '3rd'], ordered=True)
titanic['pclass'] = titanic['pclass'].astype(pclass_type)

display(titanic.head())
print(titanic[['sex', 'embarked', 'survived', 'pclass']].info())

print("So sánh: '1st' < '3rd' là:", titanic['pclass'][0] < '3rd') # Nếu True là đúng logic
print("Các levels của pclass:", titanic['pclass'].cat.categories)

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1st,Yes,"Allen, Miss. Elisabeth Walton",NaN,29.0000,0,0,24160,211.3375,B5,Southampton,2,NaN,"St Louis, MO"
1,2,1st,Yes,"Allison, Master. Hudson Trevor",NaN,0.9167,1,2,113781,151.5500,C22 C26,Southampton,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1st,No,"Allison, Miss. Helen Loraine",NaN,2.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1st,No,"Allison, Mr. Hudson Joshua Creighton",NaN,30.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1st,No,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",NaN,25.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       0 non-null      category
 1   embarked  1307 non-null   category
 2   survived  1309 non-null   category
 3   pclass    1309 non-null   category
dtypes: category(4)
memory usage: 5.7 KB
None
So sánh: '1st' < '3rd' là: True
Các levels của pclass: Index(['1st', '2nd', '3rd'], dtype='object')